@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.wrapper {
  background-color: #2e2e2e;
  width: 100%;
  min-height: 50px;
  max-height: 50px;
  color: #f1f1f3;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: center;
  position: fixed; /* Changed from sticky to fixed */
  bottom: 0; /* Position at the bottom */
  left: 0;
  border-top: 1px solid #C8AC53; /* Changed from border-bottom to border-top */
  box-shadow: 0 0 40px rgba(255, 207, 76, 0.7);
  cursor: url('/curs.png'), auto;
  background-image: url('/tec.png');
  background-repeat: repeat;
  background-size: 30px 30px;
  z-index: 10;

}


.Linkdc {
  margin-right: 20px;
  font-size: 1rem;

  background-color: transparent;
  padding: 10px;
  color: #C8AC53;
  font-weight: bolder;
  border: none;
  cursor: url('/dc.png'), auto;
  
}

.Linkdc:hover {
  background-color: #C8AC53;
  color: #1e2128;
  animation: flicker 0.2s ease-out;
  animation-iteration-count: 1;
  cursor: url('/dc.png'), auto;
}

/*comment*/
.Link {
  margin-right: 20px;
  font-size: 1rem;
  cursor: url('/bip.png'), auto;
  background-color: transparent;
  padding: 10px;
  color: #C8AC53;
  font-weight: bolder;
  border: none;
  
}

.Link:hover {
  background-color: #C8AC53;
  color: #1e2128;
  animation: flicker 0.2s ease-out;
  animation-iteration-count: 1;
  cursor: url('/bip.png'), auto;
}


@keyframes flicker {
  50% {
    box-shadow: 0 0 15px rgba(255, 207, 76, 0.7);
  }
  100% {
    box-shadow: 0 0 10px rgba(255, 207, 76, 0.5);
  }
}

