@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
.wrapper {
  background-color: #2e2e2e;
  width: 100%;
  min-height: 50px;
  color: #f1f1f3;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  border-bottom: 1px solid #C8AC53;
  box-shadow: 0 0 40px rgba(255, 207, 76, 0.7);
  cursor: url('../public/curs.png'), auto;

}

.title {
  font-family: 'Great Vibes', cursive; /* Apply the custom font here */
  font-size: 2rem;
  color: #ffcf4c;
  margin-left: 20px;
  cursor: pointer;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: url('../public/curslink.png'), auto;
}

.loginBtn {
  margin-right: 20px;
  font-size: 1rem;
  cursor: url('../public/curs.png'), auto;
  background-color: #2e2e2e;
  padding: 10px;
  color: #C8AC53;
  font-weight: bolder;
}
.loginBtn:hover {
  background-color: #C8AC53; /* Change background color on hover */
  color: #1e2128; /* Change text color on hover */
  animation: flicker 0.2s ease-out; /* Apply flicker animation */
  animation-iteration-count: 1; /* Run the animation only once */

}
@keyframes flicker {


  50% {
    box-shadow: 0 0 15px rgba(255, 207, 76, 0.7);
  }

  100% {
    box-shadow: 0 0 10px rgba(255, 207, 76, 0.5);
  }
}

.welcome {
  font-size: 1rem;
  font-weight: bolder;
}


