@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
.wrapper {
  background-color: #2e2e2e;
  width: 100%;
  min-height: 50px;
  color: #f1f1f3;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  border-bottom: 1px solid #C8AC53;
  box-shadow: 0 0 40px rgba(255, 207, 76, 0.7);
}

.title {
  font-family: 'Great Vibes', cursive; /* Apply the custom font here */
  font-size: 2rem;
  color: #ffcf4c;
  margin-left: 20px;
  cursor: pointer;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginBtn {
  margin-right: 20px;
  font-size: 1rem;
  cursor: pointer;
  border: 1px solid #C8AC53;
  background-color: #202020;
  border-radius: 0.5rem;
  padding: 10px;
  color: #C8AC53;
  font-weight: bolder;
}
.loginBtn:hover {
  background-color: #9c8436; /* Change to the desired background color on hover */
 
  box-shadow: 0 0 20px rgba(255, 207, 76, 0.7);

}
.welcome {
  font-size: 1rem;
  font-weight: bolder;
}

.accentColor {
  color: #C8AC53;
  font-weight: default;
}
