.wrapper {

  padding-bottom: 30px;
  cursor: url('/curs.png'), auto;

}
/*comment*/
.lineAfter {
  background: linear-gradient(to right, rgba(255, 207, 76, 0) 0%, rgba(255, 207, 76, 1) 50%, rgba(255, 207, 76, 0) 100%);
  width: 50%; /* Width of the line */
  margin: 0 auto; /* Center the line horizontally */
  /* Optional: Adjust the line height or add spacing */
  height: 2px; /* Ensure this matches the border thickness */
}

.nftduelbutton {
  position: relative;
  top: 25px;
  margin: 0 5px; 
  font-family: 'Monofonto';
  color: #c8ad5360;
  border: none;
  background-color: rgba(0, 123, 255, 0); /* Fully transparent blue background */

  padding: 10px;
  cursor: pointer;
  border-radius: 2px;
  transition: background-color 0.15s ease; /* Smooth transition for background-color */
}
.nftduelbutton:hover {
  background-color: #C8AC53; /* Change background color on hover */
  color: #1e2128; /* Change text color on hover */
  animation: flicker 0.2s ease-out; /* Apply flicker animation */
  animation-iteration-count: 1; /* Run the animation only once */
  border-radius: 2px;
}
.nftduelbutton.active {
  background-color: #C8AC53; /* Set background color to orange */
  color: #1e2128; /* Set text color to black */
  border-radius: 4px;
}
/*BERAMONIUM*/
.nftduelbuttonmon {
  position: relative;
  top: 25px;
  margin: 0 5px; 
  font-family: 'Monofonto';
  color: #c8ad5360;
  border: none;
  background: linear-gradient(to bottom,#5553c894, #00000000, #ba04c06b  ); /* Fully transparent blue background */

  padding: 10px;
  cursor: pointer;
  border-radius: 2px;
  transition: background-color 0.15s ease; /* Smooth transition for background-color */
}
.nftduelbuttonmon:hover {
  background: #C8AC53;/* Change background color on hover */
  color: #1e2128; /* Change text color on hover */
  animation: flicker 0.2s ease-out; /* Apply flicker animation */
  animation-iteration-count: 1; /* Run the animation only once */
  border-radius: 2px;
}
.nftduelbuttonmon.active {
  background: linear-gradient(to bottom,#5553c894, #ba04c06b,#C8AC53  ); /* Set background color to orange */
  color: #C8AC53; /* Set text color to black */
  border-radius: 4px;
}
/*ARENA*/
.nftduelbuttonarena {
  position: relative;
  top: 25px;
  margin: 0 5px; 
  font-family: 'Monofonto';
  color: #c8ad5360;
  border: none;
  background: linear-gradient(to bottom,#2fbdff, #00000000  ); /* Fully transparent blue background */

  padding: 10px;
  cursor: pointer;
  border-radius: 2px;
  transition: background-color 0.15s ease; /* Smooth transition for background-color */
}
.nftduelbuttonarena:hover {
  background: #C8AC53;/* Change background color on hover */
  color: #1e2128; /* Change text color on hover */
  animation: flicker 0.2s ease-out; /* Apply flicker animation */
  animation-iteration-count: 1; /* Run the animation only once */
  border-radius: 2px;
}
.nftduelbuttonarena.active {
  background:  linear-gradient(to bottom,#2fbdff, #2fbdff57,#C8AC53  ); /* Set background color to orange */
  color: #C8AC53; /* Set text color to black */
  border-radius: 4px;
}

.buttonContainer {
  display: flex;
  justify-content: center; /* Centers buttons horizontally */
  margin-bottom: 10px; /* Adjust as needed */
}
.statsboxToggleButton {
  position: fixed;
  z-index: 100;
  left: 20px;  /* Adjust as needed */
  font-family: 'Monofonto';
  color: #c8ad5360;
  border: none;
  background-color: rgba(0, 123, 255, 0); /* Fully transparent blue background */
  z-index: 1000;
  padding: 10px;
  cursor: url('/curs.png'), auto;
  border-radius: 0;
  transition: background-color 0.15s ease;
  font-size: 1vw;
}
.statsboxToggleButton:hover {
  background-color: #C8AC53; /* Change background color on hover */
  color: #1e2128; /* Change text color on hover */
  animation: flicker 0.2s ease-out; /* Apply flicker animation */
  animation-iteration-count: 1; /* Run the animation only once */

}
.chatboxToggleButton {
  position: fixed;
  z-index: 100;
  right: 20px;  /* Adjust as needed */
  font-family: 'Monofonto';
  color: #c8ad5360;
  border: none;
  background-color: rgba(0, 123, 255, 0); /* Fully transparent blue background */
  z-index: 1000;
  padding: 10px;
  cursor: url('/curs.png'), auto;
  border-radius: 0;
  transition: background-color 0.15s ease;
  font-size: 1vw; /* Smooth transition for background-color */
}

.chatboxToggleButton:hover {
  background-color: #C8AC53; /* Change background color on hover */
  color: #1e2128; /* Change text color on hover */
  animation: flicker 0.2s ease-out; /* Apply flicker animation */
  animation-iteration-count: 1; /* Run the animation only once */
  cursor: url('/curs.png'), auto;

}
.boardboxToggleButton {
  position: fixed;
  z-index: 100;
  bottom: 50px;
  right: 20px;  /* Adjust as needed */
  font-family: 'Monofonto';
  color: #c8ad5360;
  border: none;
  background-color: rgba(0, 123, 255, 0); /* Fully transparent blue background */
  z-index: 1000;
  padding: 10px;
  cursor: url('/curs.png'), auto;
  border-radius: 0;
  transition: background-color 0.15s ease;
  font-size: 1vw; /* Smooth transition for background-color */
}

.boardboxToggleButton:hover {
  background-color: #C8AC53; /* Change background color on hover */
  color: #1e2128; /* Change text color on hover */
  animation: flicker 0.2s ease-out; /* Apply flicker animation */
  animation-iteration-count: 1; /* Run the animation only once */
  cursor: url('/curs.png'), auto;
}
@keyframes flicker {


  50% {
    box-shadow: 0 0 35px rgba(255, 207, 76, 0.7);
  }

  100% {
    box-shadow: 0 0 25px rgba(255, 207, 76, 0.5);
  }
}
.stats {
  position: fixed; /* Make sure this is set to fixed */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Monofonto';
  color: #c8ad5360;
  border: none;
  background-color: rgba(0, 123, 255, 0); /* Fully transparent blue background */
  z-index: 1000;
  padding: 10px;
  cursor: url('/curs.png'), auto;
  border-radius: 0;
  
}
/* Update Home.module.css */

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: 
                    url('../public/Goingto.gif'), 
                    url('../public/thirdlayer.png'), 
                    url('../public/secondlayer.png'),
                    url('../public/firstlayer.png');
  background-size: cover, cover, cover, cover; /* Adjust the size of each image as needed */
  background-position: center; /* Simplified to a single position */
  background-repeat: no-repeat; /* Simplified to a single repeat */
  background-attachment: fixed;
  pointer-events: none;
  z-index: 0;
}

/* Media queries for mobile responsiveness */
@media (max-width: 768px) {
  .background {
    background-size: cover; /* Use cover for all images on mobile */
    background-position: center; /* Ensure all images are centered */
  }
}

@media (max-width: 480px) {
  .background {
    background-size: contain; /* Optionally use contain for very small screens */
  }
}
.players {
  position: relative;


  font-family: 'Monofonto';
  color: #c8ad5360;
  border: none;
  background-color: rgba(0, 123, 255, 0); /* Fully transparent blue background */
  cursor: url('/curs.png'), auto;
  padding: 10px;
  cursor: pointer;
  border-radius: 2px;
  transition: background-color 0.15s ease; /* Smooth transition for background-color */
}
.players:hover {
  cursor: url('/curs.png'), auto;
  background-color: #C8AC53; /* Change background color on hover */
  color: #1e2128; /* Change text color on hover */
  animation: flicker 0.2s ease-out; /* Apply flicker animation */
  animation-iteration-count: 1; /* Run the animation only once */
  border-radius: 2px;
}
.welcomeText {

  font-size: 2rem; /* Adjust the size as needed */
  color: #ffcf4c; /* Change to your desired text color */
  text-align: center; /* Center the text */
  margin: 20px 0; /* Add some spacing around the text */
  font-weight: bold; /* Make the text bold */
  text-shadow: 0px 0px 22px #ffcf4c; /* Optional: add some shadow for effect */
  display: flex; /* Use flexbox to center */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  animation: fadeIn 1s ease-in-out backwards; /* Added fade-in effect */
  height: 100vh; /* Optional: set full viewport height */
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.nftDuelHistoryContainer {
  margin: 10px 0;
}

.toggleButton {
  font-family: 'Monofonto';
  width: fit-content; 
  display: flex;
  justify-content: center;
  place-self: center;
  color: #C8AC53;
  padding: 15px 32px;
  text-align: center;

  border-radius: 2px;
  margin: 15px auto; 
  cursor: url('../public/curs.png'), auto;
  font-weight: 500;
  font-size: 25px;
}
.toggleButton:hover {

  background-color: #C8AC53; /* Change background color on hover */
  color: #1e2128; /* Change text color on hover */
  animation: flicker 0.2s ease-out; /* Apply flicker animation */
  animation-iteration-count: 1; /* Run the animation only once */

}
.dropdownContent {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.dropdownContent.open {
  max-height: 500px; /* adjust based on expected content size */
  transition: max-height 0.3s ease-in-out;
}

.dropdownContent.closed {
  max-height: 0;
}