@font-face {
    font-family: 'Monofonto'; /* Name you’ll use to refer to the font */
    src: url('/monofonto rg.otf') format('opentype'); /* Path and format */
    font-weight: normal;
    font-style: normal;
  }
  .parentcontainer {
    position: relative; /* Required for positioning the pseudo-element */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    flex-direction: column;  /* Stack children vertically */
    width: 30%;              /* Fixed width */
    max-height: 500px;
    min-width: 400px;
    max-width: 600px;      
    overflow: hidden;        
    padding-bottom: 20px;   
    
    transition:  0.15s ease-in; /* Use ease-in for the transition */
}




  .wrappernft {
    background:   linear-gradient(to bottom,#000000, #161616,#1f1f1f,#000000, #000000);
    flex: 1; /* Allow each card to grow equally */
    min-width: 255px;
    max-width: 555px; /* Example fixed width, adjust as needed */
    min-height: 455px;
    max-height: 800px;
    width: 50%; /* Width of the element */
    justify-content: center; /* Center horizontally */
    align-items: center;
    place-content: center; /* Align items to the start of the flex container's cross axis */
 
    border-radius: 2rem; /* Rounded corners */
    padding: 5px; /* Space inside the wrapper */
    display: flex;
    flex-direction: column; /* Arrange children in a column */
    margin: 25px; /* Space above the wrapper */
  
    overflow: hidden; /* Hide overflow content */
    transition: transform 0.15s ease-out, box-shadow 0.3s ease; /* Smooth transition for scaling and box-shadow */
    perspective: 1000px; /* Perspective for 3D effect */
  }
  

  .wrappernft:hover {
    animation: pulsate 2s infinite; /* Pulsating animation on hover */
  }
  @keyframes pulsate {
    0% {
      box-shadow: 0 0 5px #bd9938;
    }
    50% {
      box-shadow: 0 0 10px #ffed4c;
    }
    100% {
      box-shadow: 0 0 5px #bd9938;
    }
  }
  .title {
    font-family: 'Monofonto', cursive; /* Apply the custom font here */
    font-size: 2rem;
    color: #ffcf4c;
  
    cursor: pointer;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: url('/curslink.png'), auto;
    padding: 10px; /* space for title below*/
    
  }
  .rafflefeetitle {
    font-family: 'Monofonto';
    font-size: 1.5rem;
    font-weight: 250;
    color: #C8AC53;
    text-align: center;
    margin: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .tooltip {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .tooltip .tooltiptext {
    font-family: 'Monofonto';
    visibility: hidden;
    width: 220px;
    background-color: #2c2c2c;
    color: #C8AC53;
    text-align: center;
    border-radius: 3px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position the tooltip above the input */
    left: 50%;
    margin-left: -110px; /* Center the tooltip */
    opacity: 0;
    transform: scaleY(0); /* Start with zero scale on Y axis */
    transform-origin: center; /* Ensures scaling happens from the center */
    transition: opacity 0.3s, box-shadow 0.3s;
    box-shadow: 0 0 55px 25px rgba(0, 0, 0, 0.644);
  }

  
  
  .tooltip:not(:hover) .tooltiptext {
    visibility: visible;
    animation: expandCollapse 0.15s ease-out reverse forwards;
  }
  @keyframes expandCollapse {
    0% {
      background-color: #C8AC53;
  
      transform: scaleY(0);
      opacity: 0.25;
  
    }
    50% {
      transform: scaleY(1);
      background-color: #C8AC53;
      opacity: 1;
      box-shadow: 0 0 55px #C8AC53;
  
    }
  
    100% {
      transform: scaleY(1);
      opacity: 1;
  
   
      background-color: #C8AC53;
    }
  }
  .numberInput {
    cursor: url('/curs.png'), auto;
    background-color: transparent;
    width: 200px; /* Adjust the width as needed */
    padding: 8px; /* Add some padding inside the input */
    border: 1px solid #C8AC53; /* Set a border color and style */
    border-radius: 2px; /* Rounded corners for the input box */
    font-size: 16px; /* Adjust font size */
    box-sizing: border-box;
    font-family: Monofonto;
    color: #C8AC53;
    outline: none; /* Remove default outline */
    text-align: center;
    /* Remove place-self */
  }
  /* Optional: Hide spinners for number input */
  .numberInput::-webkit-inner-spin-button,
  .numberInput::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  .numberInput {
    max-width: 300px; /* Set a maximum width for the input */
    -moz-appearance: textfield;
    margin: 10px 0; /* Add some margin for spacing */
  }
  
  /* Style for the number input field when focused */
  .numberInput:focus {
    
    border-color: #C8AC53; /* Change border color to yellow on focus */
  
    box-shadow: inset 0 0 15px  #C8AC53;
  }
  .btnWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: transparent; /* Make the background transparent */
}
 
  @keyframes flicker {


    50% {
      box-shadow: 0 0 55px rgba(255, 207, 76, 0.7);
    }
  
    100% {
      box-shadow: 0 0 15px rgba(255, 207, 76, 0.5);
    }
  }
  .address {
    margin: 1rem;
    color: #C8AC53;
    font-family: 'Monofonto';
    text-align: center; /* Center the text */
  }

    .topAddressContainer {
      font-family: 'Monofonto';
      color: #ffffff;
      background: linear-gradient(to bottom,#e6ca70, #C8AC53, #e6ca70);  /* Background color */
      border-radius: 0.5rem; /* Optional: rounded corners */
      padding: 10px 20px;
      margin: 5px;
      border-left: none;
      border-right: none;
      border-top: none;
      border-bottom: 1px solid #C8AC53;
      
      /* Centering the text */
      display: flex;           /* Use flexbox for centering */
      justify-content: center; /* Center horizontally */
      align-items: center;     /* Center vertically */
      text-align: center;      /* Center text within the flex container */
      box-shadow: 0 0 20px rgba(255, 207, 76, 0.7); /* Initial glow */
      animation: breatheGlow 2s ease-in-out infinite;
    }
    
@keyframes breatheGlow {
  0% {
    box-shadow: 0 0 20px rgba(255, 207, 76, 0.7);
  }
  50% {
    box-shadow: 0 0 30px rgba(255, 207, 76, 0.5); /* Increase glow intensity */
  }
  
  100% {
    box-shadow: 0 0 20px rgba(255, 207, 76, 0.7); /* Return to initial glow */
  }
}
    .topAddress {
        font-size: 1.5rem; /* Larger font size for top address */
        margin: 5px;
        font-weight: bold; /* Bold style */
    }
    .topAddress:hover {

        color: #000000;

    }

    .scrollableContainer {
      max-height: 250px; /* Set the maximum height */
      overflow-y: auto; /* Enables vertical scrolling */
      border-radius: 5px; /* Rounded corners */
      padding: 10px; /* Inner spacing */
      overflow-x: auto; /* Optional: hide horizontal overflow */
  }
  .scoreContainer {
    font-family: 'Monofonto';
    color: #C8AC53;
    background: linear-gradient(to bottom, #00000000, #00000000, #c8ad5336); /* Gradient from dark to lighter color */
    border-radius: 0.5rem; /* Optional: rounded corners */
    padding: 10px 20px;
    margin: 5px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #C8AC53;
    
    /* Centering the text */
    display: column;           /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    text-align: center;      /* Center text within the flex container */
  }
  
  .scoreContainer:last-child {
    border-bottom: none; /* Remove last border */
  }
  


  .topScore {
    font-size: 1.5rem; /* Larger font size for top score */
    margin: 5px;
    color: #c8ad53a8;

  }
  
 
  .inabox {
    font-family: 'Monofonto';
    color: #C8AC53;
    background: linear-gradient(to bottom, #00000000, #00000000, #c8ad5336); /* Gradient from dark to lighter color */
    border-radius: 0.5rem; /* Optional: rounded corners */
    padding: 10px 20px;
    margin: 5px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #C8AC53;
    
    /* Centering the text */
    display: column;           /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    text-align: center;      /* Center text within the flex container */
  }
  
