.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.842);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure the modal is above other content */
  overflow: auto;
}

.modalContent {
  background: #C8AC53;
  padding: 5px; /* Increased padding for better spacing */
  border-radius: 8px;
  max-width: 90%; /* Adjusted max-width for mobile */
  width: 100%;
  opacity: 0; /* Start with zero opacity for animation */
  transform: scaleY(0); /* Start with zero scale on Y axis */
  transform-origin: center; /* Ensures scaling happens from the center */
  animation: expandModal 0.5s ease-in forwards; /* Apply the expand animation */
  min-height: 300px;
  max-height: 90%; /* Limit height for mobile */
  overflow: auto; /* Add scroll if content exceeds max height */
}

.closeButton {
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #000000;
}

.iframe {
  
  width: 100%;
  height: 400px; /* Adjust height for mobile */
}

/* Keyframes for modal animation */
@keyframes expandModal {
  0% {
    transform: scaleY(0);
    opacity: 0;
    box-shadow: 0 0 65px #C8AC53;
  }
  50% {
    transform: scaleY(1);
    background-color: #C8AC53;
    opacity: 1;
    box-shadow: 0 0 65px 10px #C8AC53;
    color: #C8AC53;
    filter: blur(5px);
  }
  75% {
    transform: scaleY(1);
    background-color: #C8AC53;
    opacity: 1;
    box-shadow: 0 0 45px 5px #C8AC53;
    color: #C8AC53;
    filter: blur(2px);
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}
