@font-face {
    font-family: 'Monofonto'; /* Name you’ll use to refer to the font */
    src: url('/monofonto rg.otf') format('opentype'); /* Path and format */
    font-weight: normal;
    font-style: normal;
  }
  
  .parentcontainer {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
    place-content: center; /* Align items to the start of the flex container's cross axis */
    flex-direction: column;
    width: 100%;             /* Full width */

  }
  .centeredContainer {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically if needed */
    text-align: center; /* Center text if necessary */
  }



  .title {
    font-family: 'Monofonto', cursive; /* Apply the custom font here */
    font-size: 15px;
    color: #ffcf4c;
  
    cursor: pointer;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: url('/curslink.png'), auto;
    padding: 15px; /* space for title below*/
    margin: 52px;
  }
  /*beradweller*/
.wrappernft {
    background:   #131313;
    flex: 1; /* Allow each card to grow equally */
    min-width: 225px;
    max-width: 255px; /* Example fixed width, adjust as needed */
    min-height: 100px;
    max-height: 500px;
    width: 50%; /* Width of the element */
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.5); 
    border-radius: 5px; /* Rounded corners */
    padding: 5px; /* Space inside the wrapper */
    display: flex;
    flex-direction: column; /* Arrange children in a column */
    margin: 25px; /* Space above the wrapper */
  
    overflow: visible; /* Hide overflow content */
    transition: transform 0.15s ease-out, box-shadow 0.3s ease; /* Smooth transition for scaling and box-shadow */
    perspective: 1000px; /* Perspective for 3D effect */
  }
  

  .wrappernft:hover {
    animation: pulsate 0.45s forwards ; /* Pulsating animation on hover */
  }


  
  .rafflefeetitle {
    font-family: 'Monofonto';
    font-size: 15px;
    font-weight: 250;
    color: #C8AC53;
    text-align: center;
  
  }
  .rafflefeetitlesmol {
    font-family: 'Monofonto';
    font-size: 15px;
    font-weight: 250;
    color: #C8AC53;
    text-align: center;
  
  }
  .dropdown {
    text-align: center;
    font-family: 'Monofonto';
    box-shadow: 0 0 0px rgba(255, 207, 76, 0.418);
    padding: 8px;
    outline: 2px solid #c8ad533f;
    border-radius: 2px;
    font-size: 16px;
    background: linear-gradient(to bottom, #2c2c2c, #000000);
    color: #C8AC53;
    margin-bottom: 15px;
    cursor: url('/curs.png'), auto;
    transition: outline 0.25s ease-in,   box-shadow 1s ease-out, background 0.25s ease, color 0.25s ease ;
  }
  .dropdown option {
    background: #2c2c2c; /* Limited styling support */
    color: #C8AC53;
    border: 1px solid #C8AC53;
    cursor: url('/curs.png'), auto;
    
  }
  .dropdown:hover {
    cursor: url('/curs.png'), auto;
    outline: 2px solid #C8AC53;
    background: #C8AC53;
    color: black;
    box-shadow: 0 0 25px rgba(255, 207, 76, 0.356);
  }
  

 
  .btn {
    font-family: 'Monofonto';
    width: fit-content; 
    display: flex;
    justify-content: center;
    place-self: center;
    text-align: center;
    color: #C8AC53;
    padding: 15px 15px;
  
  
    border-radius: 3px;
    margin: 5px auto; 
    outline: 2px solid #2c2c2c;
    font-weight: thin;
    font-size: 15px;
    transition: outline 0.1s ease-in;
  
  }
  .btn:hover {
  
    outline: 1px solid #C8AC53;
  
  
  
  }
 
  /*berdwellers*/
  .textNotLoaded {
    font-family: 'Monofonto';
    color: #C8AC53;

    border-radius: 2px; /* Optional: rounded corners */
    padding: 10px 20px;
    margin: 5px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #2c2c2c;

    /* Centering the text */
    display: column;           /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    text-align: center;      /* Center text within the flex container */
  }
  .textLoaded {
    display: none;
  }
   
  .nftImage {
      width: 200px; /* Adjust size as needed */
      height: 200px;
      border-radius: 2px; /* Rounded corners for the image */
     
      outline: 1px solid #c8ad533f;
      box-shadow: 0 0 15px #C8AC53;
      cursor: url('/curs.png'), auto;
     
      animation: fadeInAnimation 0.5s forwards; /* Trigger the fade-in animation */
  }
  .nftImagesecond {
    width: 200px; /* Adjust size as needed */
    height: 200px;
    border-radius: 2px; /* Rounded corners for the image */

    box-shadow: 0 0 15px #f700ff;
    cursor: url('/curs.png'), auto;
    animation: fadeInAnimation2 0.5s forwards; /* Trigger the fade-in animation */
}
.nftImagethird {
  width: 200px; /* Adjust size as needed */
  height: 200px;
  border-radius: 2px; /* Rounded corners for the image */

  box-shadow: 0 0 15px #06d4f8;
  cursor: url('/curs.png'), auto;
  animation: fadeInAnimation3 0.5s forwards; /* Trigger the fade-in animation */
}


  /* Apply box-shadow on hover */
  .nftImage:hover {
    outline: 1px solid #C8AC53;
    box-shadow: 0 0 25px #C8AC53;
    border-radius: 5px; /* Rounded corners for the image */

  }
  .nftImagesecond:hover {
    outline: 1px solid #f700ff;
    box-shadow: 0 0 25px #f700ff;
    border-radius: 5px; /* Rounded corners for the image */
  }
  .nftImagethird:hover {
    outline: 1px solid #06d4f8;
    box-shadow: 0 0 25px #06d4f8;
    border-radius: 5px; /* Rounded corners for the image */
  }
/* Define the keyframes for the fade-in animation */
@keyframes fadeInAnimation {
    0% {
      box-shadow: 0 0 35px 5px #ffed4c;
      
      filter: blur(5px); 

    }
    
    100% {
        opacity: 1; /* Fully visible */

    }
}
@keyframes fadeInAnimation2 {
  0% {
    box-shadow: 0 0 55px 5px #b74cff;
    filter: blur(5px); 


  }
  
  100% {
      opacity: 1; /* Fully visible */

  }
}

@keyframes fadeInAnimation3 {
  0% {
    
    box-shadow: 0 0 35px 5px #06d4f8 ;
    
    filter: blur(5px); 

  }
  100% {
      opacity: 1; /* Fully visible */
  }
}


  .hiddenImage {
    display: none;
  }
  
  .visibleImage {
    display: block;
  }


  .loading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    margin: 5px;

    transition: opacity 0.3s ease, transform 0.3s ease; /* Add transition */
    
    height: 100%; /* Ensure it takes the full height of the parent */
}



.loadingCircle {
  border: 6px solid #f3f3f300; /* Light grey */

  border-left: 6px solid #C8AC53; /* Left border */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  /* Center the spinner itself */
  margin: auto; /* Optional: add margin for better centering */
}
@keyframes spin {
    0% { box-shadow: 0 0 55px rgba(255, 207, 76, 0.753); transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/*NFT TRAITS */
@keyframes expandTooltip {
  0% {
    color: #C8AC53;
    transform: scaleY(0);
    opacity: 0;
    filter: blur(5px); 

  }
  25% {
    transform: scaleY(0.25);
    color: #C8AC53;
    background-color: #C8AC53;
    opacity: 1;
    box-shadow: 0 0 45px #C8AC53;
    filter: blur(10px); 

  }
  50% {
    transform: scaleY(0.5);
    color: #C8AC53;
    background-color: #C8AC53;
    opacity: 1;
    box-shadow: 0 0 35px #C8AC53;
    filter: blur(15px); 

  }
  70% {
    transform: scaleY(0.75);
    color: #C8AC53;
    background-color: #C8AC53;
    opacity: 1;
    box-shadow: 0 0 25px #C8AC53;
    filter: blur(0px); 

  }

  100% {

    transform: scaleY(1);
    opacity: 1;

  }
}
.traitsContainer {
  
  font-family: 'Monofonto';
  font-size: 1.3vh;
  position: absolute; /* Position it absolutely within the relative parent */
  top: 45vh; /* Adjust as needed */

  background: #C8AC53; /* Semi-transparent background */
  padding: 2vh; /* Add some padding for aesthetics */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 2px 55px #C8AC53; /* Subtle shadow for depth */
  z-index: 10; /* Ensure it appears above other elements */
  pointer-events: none; 

  transform: scaleY(0); /* Start scaled down to 0 */
  transform-origin: center; /* Scale from the top */
  animation: expandTooltip 0.12s  ease forwards; /* Animation */
}

.traitsContainer h3 {
  margin: 0; /* Remove default margin */
}

.traitsContainer div {
  margin: 5px 0; /* Add spacing between traits */
}
.traitsContainerSecond {
  
  font-family: 'Monofonto';
  font-size: 1.3vh;
  position: absolute; /* Position it absolutely within the relative parent */
  top: 45vh; /* Adjust as needed */
  color:  rgb(182, 182, 182);
  background: linear-gradient(to bottom,#C8AC53, #ac02e0, #ba04c0 ); /* Semi-transparent background */
  padding: 2vh; /* Add some padding for aesthetics */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 2px 55px #ff00ff; /* Subtle shadow for depth */
  z-index: 10; /* Ensure it appears above other elements */
  pointer-events: none; 

  transform: scaleY(0); /* Start scaled down to 0 */
  transform-origin: center; /* Scale from the top */
  animation: expandTooltip 0.12s  ease forwards; /* Animation */
}

.traitsContainerSecond h3 {
  margin: 0; /* Remove default margin */
}

.traitsContainerSecond div {
  margin: 5px 0; /* Add spacing between traits */
}
.traitsContainerThird {
  
  font-family: 'Monofonto';
  font-size: 1.3vh;
  position: absolute; /* Position it absolutely within the relative parent */
  top: 45vh; /* Adjust as needed */
  color:  #C8AC53;
  background: #2f90ff  ; /* Semi-transparent background */
  padding: 2vh; /* Add some padding for aesthetics */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 2px 55px #2f90ff; /* Subtle shadow for depth */
  z-index: 10; /* Ensure it appears above other elements */
  pointer-events: none; 

  transform: scaleY(0); /* Start scaled down to 0 */
  transform-origin: center; /* Scale from the top */
  animation: expandTooltip 0.12s  ease-in-out forwards; /* Animation */
}

.traitsContainerThird h3 {
  margin: 0; /* Remove default margin */
}

.traitsContainerThird div {
  margin: 5px 0; /* Add spacing between traits */
}

/*for third NFT Duel*/
.common {
  color: rgb(0, 255, 0);
}

.uncommon {
  color: rgb(0, 255, 255);
}

.rare {
  color: rgb(212, 0, 255); /* You can define neon purple in CSS */
}

.legendary {
  color: rgb(217, 255, 0);
}
/* Styles for the "More Info" trigger */
.moreInfoContainer {
  position: relative;
}

.moreInfo {
  cursor: pointer;
  text-decoration: underline;
}

/* Hidden content that will appear on hover */
.infoContent {
  opacity: 0; /* Initially hide the content */
  max-height: 0; /* Set a max-height of 0 to hide the content */
  overflow: hidden; /* Ensure anything beyond max-height is hidden */
  position: relative; /* Position content below the trigger */
  top: 100%;
  left: 0;
  color: white;
  padding: 10px;
  border-radius: 5px;
  width: 200px;
  transition: opacity 0.3s ease, max-height 0.3s ease, transform 0.3s ease;
  transform: translateY(10px); /* Slight downward shift for the sliding effect */
}

/* Show the content when hovering over the container */
.moreInfoContainer:hover .infoContent {
  opacity: 1; /* Fade in */
  max-height: 200px; /* Set a max-height large enough to fit the content */
  transform: translateY(0); /* Slide content into place */
}
.lineAfter {
  background: #0f0f0f;
  width: 100%; /* Width of the line */
  margin: 5px auto; /* Center the line horizontally */
  /* Optional: Adjust the line height or add spacing */
  height: 2px; /* Ensure this matches the border thickness */
}

