.potCardsContainer {
  display: flex; /* Use flexbox for the container */
  gap: 5px; /* Smaller gap between items */
  overflow-x: auto; /* Allow horizontal scrolling */
  overflow-y: auto; /* Prevent vertical scrolling */
  align-items: center; /* Vertically center items */
  justify-content: center; /* Horizontally center items */
  width: 100%; /* Ensure full width of parent container */
  box-sizing: border-box; /* Include padding/borders in width calculation */
  padding: 5px; /* Padding between container edges and items */
  margin: 25px auto; /* Center container */
  flex-wrap: wrap; /* Allow items to wrap on smaller screens */
  background-color: transparent;
}

@media (max-width: 768px) { /* Mobile responsiveness */
  .potCardsContainer {
    width: 100vw; /* Full viewport width */
    padding: 0 10px; /* Optional padding adjustments */
  }
}

.potCardsContainer.closed {
  display: none;
}

