@font-face {
  font-family: 'Monofonto'; /* Name you’ll use to refer to the font */
  src: url('/monofonto rg.otf') format('opentype'); /* Path and format */
  font-weight: normal;
  font-style: normal;
}



/* styles/Home.module.css */
.wrapper {
  background: #131313;
  display: flex;
  flex-direction: column;  /* Horizontal layout */
  flex-wrap: nowrap; /* Allow wrapping of children if they exceed the width */
  min-height: 100px;
  min-width: 350px; /* Set a constant width for the wrapper */
  box-sizing: border-box; /* Ensure padding and borders are included in the width */
  gap: 5px;
  margin: 2px;
  padding: 10px;
border-radius: 5px;
box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.5); 
}



/*======NFTDUEL*/
.parentcontainer {
  
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
  place-content: center; /* Align items to the start of the flex container's cross axis */
  flex-direction: column;
  width: 100%;             /* Full width */

}






.lineAfter {
  background: #0f0f0f;
  width: 100%; /* Width of the line */
  margin: 0 auto; /* Center the line horizontally */
  /* Optional: Adjust the line height or add spacing */
  height: 2px; /* Ensure this matches the border thickness */
}
.title {
  justify-content: center;
  place-self: center;
  text-align: center;

  font-family: 'Monofonto', cursive;
  font-size: 25px;
  color: #ffcf4c;

  background: #131313;
  box-shadow: 0px 0px 0px 0px inset #0000008c;
  font-weight: 100; /* Use numeric font weight for thin text */
  display: flex;
  align-items: center;

  cursor: url('/curslink.png'), auto;
  padding: 10px;
  min-width: 100px;
  width: 100px;
  transition: background 0.5s ease, box-shadow 0.5s ease;
  border-radius: 2px;
}

.title:hover {

  box-shadow: 0px 0px 25px 1px inset #0000008c;

}



.pot {
  font-family: 'Monofonto' ;
  font-size: 15px;
  font-weight: 250;
  color: #C8AC53;
  text-align: center;
  padding: 10px;
  align-items: center;
  justify-content: center;
  place-self: center;
  display: flex;
  outline: 1px solid #2c2c2c;;
}
.potsmall {
  font-family: 'Monofonto' ;
  font-size: 0.75rem;
  font-weight: 250;
  color: #C8AC53;
  text-align: center;
  padding: 10px;
  
}




@keyframes breatheGlow {
  0% {
    box-shadow: 0 0 20px rgba(255, 207, 76, 0.7);
  }
  50% {
    box-shadow: 0 0 30px rgba(255, 207, 76, 0.5); /* Increase glow intensity */
  }
  
  100% {
    box-shadow: 0 0 20px rgba(255, 207, 76, 0.7); /* Return to initial glow */
  }
}

.btn {
  font-family: 'Monofonto';
  width: fit-content; 
  display: flex;
  justify-content: center;
  place-self: center;
  text-align: center;
  color: #C8AC53;
  padding: 15px 15px;


  border-radius: 3px;
  margin: 5px auto; 
  outline: 2px solid #2c2c2c;
  font-weight: thin;
  font-size: 15px;
  transition: outline 0.1s ease-in;

}
.btn:hover {

  outline: 1px solid #C8AC53;



}
.btndisabled {
  font-family: 'Monofonto';
  width: fit-content; 
  display: flex;
  justify-content: center;
  place-self: center;
  color: #C8AC53;
  padding: 15px 15px;
  text-align: center;
  outline: 1px solid #ff3c0077;
  border-radius: 2px;
  margin: 5px auto; 
  cursor: url('/curs.png'), auto;
  font-weight: thin;
  font-size: 12px;
  transition: outline 0.2s ease;
}
.btndisabled:hover {

  outline: 1px solid #ff3c00; /* Change background color on hover */


}


@keyframes flickerd {


  50% {
    box-shadow: 0 0 55px rgb(255, 88, 76);
  }

  100% {
    box-shadow: 0 0 15px rgba(255, 88, 76, 0.7);
  }
}


.rafflefeetitle {
  font-family: 'Monofonto';
  font-size: 15px;
  font-weight: 250;
  color: #C8AC53;
  text-align: center;

}


.rafflefee {
  font-family: 'Monofonto';
  text-align: center;
  color: #C8AC53;
  font-size: 15px;
  padding: 2px 2px;
  margin: 5px;


  text-align: center;
  place-self: center;
}
.rafflefeebg {
  font-family: 'Monofonto';
  text-align: center;
  color: #C8AC53;
  background: linear-gradient(to bottom, #00000000, #00000000, #c8ad5336); /* Gradient from dark to lighter color */
  border-radius: 0.5rem; /* Optional: rounded corners */
  padding: 2px 2px;
  margin: 5px;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid #C8AC53;
  max-width: 50%;
  text-align: center;
  place-self: center;
}




.textNotLoaded {
  font-family: 'Monofonto';
  color: #C8AC53;
  background: linear-gradient(to bottom, #00000000, #00000000, #c8ad5336); /* Gradient from dark to lighter color */
  border-radius: 0.1rem; /* Optional: rounded corners */

  border-radius: 3px; /* Optional: rounded corners */
  padding: 10px 10px; /* Add some padding around the text */
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid #C8AC53;
    font-size: 15px;

  /* Centering the text */
  display: flex;           /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
  text-align: center;      /* Center text within the flex container */
}
.goldAccent {
  font-family: 'Monofonto', cursive;
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
  background: linear-gradient(to bottom,#e6ca70, #C8AC53, #e6ca70);  /* Background color */
  color: white; /* Text color for better contrast */
  padding: 5px 5px; /* Add some padding around the text */
  border-radius: 3px; /* Optional: rounded corners */
  box-shadow: 0 0 20px rgba(255, 207, 76, 0.7); /* Initial glow */
  animation: breatheGlow 2s ease-in-out infinite; /* Apply the breathing animation */
  
}
.textLoaded {
  font-family: 'Monofonto';
  color: #ffffff;
  background: linear-gradient(to bottom,#e6ca70, #C8AC53, #e6ca70);  /* Background color */
  border-radius: 0.1rem; /* Optional: rounded corners */
  padding: 10px 10px; /* Add some padding around the text */

  margin-right: 10px;

  font-size: 15px;
  
  /* Centering the text */
  display: flex;           /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
  text-align: center;      /* Center text within the flex container */
  box-shadow: 0 0 20px rgba(255, 207, 76, 0.7); /* Initial glow */
  animation: breatheGlow 2s ease-in-out infinite;
}








.nftImage {
  width: 200px; /* Adjust size as needed */
  height: 200px;
  border-radius: 2px; /* Rounded corners for the image */
  transition: transform 0.1s ease-out, box-shadow 0.2s ease-out; /* Smooth transition for the 3D effect */
  transform-style: preserve-3d; /* Ensure 3D transforms are preserved */
  transform: perspective(1000px); /* Perspective for the 3D effect */
 
  cursor: url('/curs.png'), auto;

}

/* Apply box-shadow on hover */
.nftImage:hover {
  
  box-shadow: 0 0 25px #C8AC53;
  border-radius: 5px; /* Rounded corners for the image */
}

.hiddenImage {
  display: none;
}

.visibleImage {
  display: block;
}
/* Main loading container */
.loading {
  display: flex;
  flex-direction: column;        /* Stack text and spinner vertically */
  align-items: center;           /* Center horizontally */
  justify-content: center;       /* Center vertically */
  height: 100%;                  /* Ensure it takes the full height of the parent */

  position: absolute;            /* Position the loading container absolutely */
  top: 0; left: 0; right: 0; bottom: 0;  /* Ensure it fills the entire parent container */
  background: radial-gradient(circle, rgba(0, 0, 0, 0.562) 0%, rgba(0, 0, 0, 0) 100%);
  backdrop-filter: blur(10px);
  z-index: 1005;                   /* Ensure it's above other content */
  transition: opacity 0.3s ease, transform 0.3s ease;  /* Smooth transitions */
}







  .loadingCircle {
    width: 54px;
    height: 54px;
    position: relative;
    border-radius: 4px;
    background-color: #C8AC53;

    background-image: radial-gradient(circle 5px, #5599ff 100%, transparent 0),
      radial-gradient(circle 5px, #5599ff 100%, transparent 0),
      radial-gradient(circle 5px, #5599ff 100%, transparent 0),
      radial-gradient(circle 5px, #5599ff 100%, transparent 0),
      radial-gradient(circle 5px, #5599ff 100%, transparent 0),
      radial-gradient(circle 5px, #5599ff 100%, transparent 0);
    background-repeat: no-repeat;
    animation: move 4s linear infinite, rotate 2s linear infinite;
  }
  
  @keyframes rotate {
    0%,
    20% {
      transform: rotate(0deg);
    }
    30%,
    40% {
      transform: rotate(90deg);
    }
    50%,
    60% {
      transform: rotate(180deg);
    }
    70%,
    80% {
      transform: rotate(270deg);
    }
    90%,
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes move {
    0%,
    9% {
      background-position: -12px -15px, -12px 0px, -12px 15px, 12px -15px,
        12px 0px, 12px 15px;
    }
    10%,
    25% {
      background-position: 0px -15px, -12px 0px, -12px 15px, 34px -15px, 12px 0px,
        12px 15px;
    }
    30%,
    45% {
      background-position: 0px -34px, -12px -10px, -12px 12px, 34px -15px,
        12px -10px, 12px 12px;
    }
    50%,
    65% {
      background-position: 0px -34px, -12px -34px, -12px 12px, 34px -12px,
        0px -10px, 12px 12px;
    }
    70%,
    85% {
      background-position: 0px -34px, -12px -34px, 0px 12px, 34px -12px, 0px -10px,
        34px 12px;
    }
    90%,
    100% {
      background-position: 0px -34px, -12px -34px, 0px 0px, 34px -12px, 0px 0px,
        34px 12px;
    }
  }

/*FOR RUSSIAN ROULETE*/
.loader {
  animation: spin 1.5s linear alternate infinite;
  background: #C8AC53;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  box-shadow: 0px 0px 20vh 20vh #000000;
}

.loader:before {
  background: #C8AC53;
  border-radius: 50%;
  content: '';
  display: block;
  height: 0.5em;
  width: 0.5em;
  z-index: 2;
}

.loader:after {
  background: #262E2A;

  border-radius: 50%;
  box-shadow: 0em -2.60em #262E2A,
    2.25em -4.02em #000000,
    2.25em -1.25em #000000,
    4.60em 0em #000000,
    2.25em 1.25em #000000,
    2.25em 4.02em #000000,
    0em 2.60em #000000,
    -2.25em 4.02em #000000,
    -2.25em 1.25em #000000,
    -4.60em 0em #000000,
    -2.25em -1.25em #000000,
    -2.25em -4.02em #000000;
  content: '';
  display: block;
  height: 2em;
  width: 2em;
}

.inner {
  animation: load 1.5s linear alternate infinite;
  border: solid 1px #5599ff;
  border-radius: 50%;
  height: 1.75em;
  width: 1.75em;
  z-index: 1;
}

.loader, .loader:before, .loader:after, .inner {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

@keyframes load {
  0% {
    box-shadow: 0em -2.60em #262E2A,
      2.25em -1.25em #262E2A,
      2.25em 1.25em #262E2A,
      0em 2.60em #262E2A,
      -2.25em 1.25em #262E2A,
      -2.25em -1.25em #262E2A;
  }

  15% {
    box-shadow: 0em -2.60em #262E2A,
      2.25em -1.25em #262E2A,
      2.25em 1.25em #262E2A,
      0em 2.60em #262E2A,
      -2.25em 1.25em #262E2A,
      -2.25em -1.25em #5599ff;
  }

  30% {
    box-shadow: 0em -2.60em #262E2A,
      2.25em -1.25em #262E2A,
      2.25em 1.25em #262E2A,
      0em 2.60em #262E2A,
      -2.25em 1.25em #5599ff,
      -2.25em -1.25em #5599ff;
  }

  45% {
    box-shadow: 0em -2.60em #262E2A,
      2.25em -1.25em #262E2A,
      2.25em 1.25em #262E2A,
      0em 2.60em #5599ff,
      -2.25em 1.25em #5599ff,
      -2.25em -1.25em #5599ff;
  }

  60% {
    box-shadow: 0em -2.60em #262E2A,
      2.25em -1.25em #5599ff,
      2.25em 1.25em #5599ff,
      0em 2.60em #5599ff,
      -2.25em 1.25em #5599ff,
      -2.25em -1.25em #5599ff;
  }

  75% {
    box-shadow: 0em -2.60em #262E2A,
      2.25em -1.25em #5599ff,
      2.25em 1.25em #5599ff,
      0em 2.60em #5599ff,
      -2.25em 1.25em #5599ff,
      -2.25em -1.25em #5599ff;
  }

  90% {
    box-shadow: 0em -2.60em #5599ff,
      2.25em -1.25em #5599ff,
      2.25em 1.25em #5599ff,
      0em 2.60em #5599ff,
      -2.25em 1.25em #5599ff,
      -2.25em -1.25em #5599ff;
  }

  100% {
    box-shadow: 0em -2.60em #5599ff,
      2.25em -1.25em #5599ff,
      2.25em 1.25em #5599ff,
      0em 2.60em #5599ff,
      -2.25em 1.25em #5599ff,
      -2.25em -1.25em #5599ff;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  15% {
    transform: rotate(60deg);
  }

  30% {
    transform: rotate(120deg);
  }

  45% {
    transform: rotate(180deg);
  }

  60% {
    transform: rotate(240deg);
  }

  75% {
    transform: rotate(300deg);
  }

  90% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}




/* Text styling for "Please wait for your transaction" */
.loadingText {
  color:rgb(255, 207, 76);                 /* White text color */
  font-size: 16px;              /* Font size */
  margin-bottom: 10px;          /* Space between the text and the spinner */
  font-weight: bold;            /* Make the text bold */
  text-align: center;           /* Center the text */
}





/* Dropdown Toggle Button */
.dropdownToggle {
  cursor: pointer;
  display: inline-block;
  margin-left: 10px;
}

/* Dropdown Content */
.dropdownContent {

  background: #131313;
  padding: 5px;

  overflow: visible ; /* Hide content initially */
  position: relative;
border-radius: 5px;

  
  /* Initial state */
  opacity: 0;
  transform-origin: top;
  transform: scaleY(0);

  /* Apply the animation */
  animation: fadeIn 0.2s ease-in-out forwards;
}

/* Keyframes for the fade-in animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1); /* Unscale to full size */
  }
}
.Details {
  font-family: 'Monofonto', cursive; /* Apply the custom font here */
  color: #C8AC53;
  margin: 5px;
}
.Detailscontents {
  font-family: 'arial', cursive; /* Apply the custom font here */
  color: #C8AC53;
  margin: 5px;
  
}

.closeButton {

  font-family: 'Monofonto', cursive; /* Apply the custom font here */
  background: none;
  border: none;
  font-size: 20px;
  color: #C8AC53;
  cursor: pointer;
  padding: 0;
}

.closeButton:hover {
  color: #f00; /* Change color on hover */
}


.you {
  font-family: 'Monofonto', cursive; /* Apply the custom font here */
  font-weight: bold;
  color: #c8ad5386; /* Or any color of your choice */
  margin-right: 5px; /* Add some space between YOU and the address */
}



.horizontalContainer {
  display: flex;
  justify-content: space-between;  /* Distribute space between the containers */
  align-items: flex-start;  /* Align the items to the top */
  gap: 20px;  /* Optional: Adds space between the containers */

  overflow-x: scroll; /* Always shows both vertical and horizontal scrollbars */
  scrollbar-width: thin; /* Firefox-specific - makes the scrollbar thinner */
  scrollbar-color: #C8AC53 #c8ad5386;
}

.winnerContainer, .playersContainer {
  flex: 0 1 auto;  /* Prevent stretching and allow the container to grow based on content */
  padding: 10px;

 
  outline: 1px solid #2c2c2c;
}




.scrollableList {
text-align: center;

  max-height: 150px;
  overflow-y: scroll; /* Always shows both vertical and horizontal scrollbars */
  scrollbar-width: thin; /* Firefox-specific - makes the scrollbar thinner */
  scrollbar-color: #C8AC53 #c8ad5386; /* Firefox-specific - sets the scrollbar color (thumb and track) */
}

/* Optionally add more specific styling */

/* Tooltip styling */
.btn[title]:hover::after {
  content: attr(title); /* Use the title attribute as the tooltip content */
  position: absolute;
  top: -25px; /* Adjust this to position the tooltip above the button */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 10;
}