/* Ensures the wrapper takes up the full height and width of the parent */

.potCardsContainer {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  gap: 5px; /* Decreased space between the cards (adjust as needed) */
  max-width: 50%;
  align-items: center; /* Center items vertically within the container */
  justify-content: center; /* Center items horizontally within the container */
  width: 35%; /* Set the width of the container */
  border-radius: 1rem; /* Rounded corners */
  margin: 25px auto; /* Center container horizontally with margin above and below */
  flex-direction: row; /* Arrange items in a row (horizontal layout) */
}


/*comment*/