@font-face {
  font-family: 'Monofonto'; /* Name you’ll use to refer to the font */
  src: url('/monofonto rg.otf') format('opentype'); /* Path and format */
  font-weight: normal;
  font-style: normal;
}



/* styles/Home.module.css */


.wrapper {
  background: linear-gradient(to bottom, #2c2c2c,#1f1f1f,#000000, #000000);
  flex: 1; /* Allow each card to grow equally */
  min-width: 255px;
  max-width: 455px; /* Example fixed width, adjust as needed */
  min-height: 355px;
  max-height: 455px;
  width: 50%; /* Width of the element */

  border-radius: 3px; /* Rounded corners */
  padding: 5px; /* Space inside the wrapper */
  display: flex;
  flex-direction: column; /* Arrange children in a column */
  margin: 15px; /* Space above the wrapper */

  overflow: hidden; /* Hide overflow content */
  transition: transform 0.1s ease-in-out; /* Smooth transition for scaling and box-shadow */

}

/*comment*/
.wrapper:hover {
  transform: translateY(-5px); /* Lift the element */
  animation: pulsate 0.45s forwards ease-in-out; /* Pulsating animation on hover */
}
@keyframes pulsate {
  0% {
    border-top: 1px solid transparent; /* Start with transparent borders */
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
  }
  25% {
    border-top: 1px solid #bd9938; /* Left side of top border lights up */
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;

  }
  50% {
    border-top: 1px solid #bd9938;
    border-right: 1px solid #ffed4c; /* Right side of top border lights up */
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
  }
  75% {
    border-top: 1px solid #bd9938;
    border-right: 1px solid #ffed4c;
    border-bottom: 1px solid #ffed4c; /* Top side of right border lights up */
    border-left: 1px solid transparent;
    box-shadow: 0px 0px 0px #ffed4c;

  }
  80% {
    border-top: 1px solid #bd9938;
    border-right: 1px solid #ffed4c;
    border-bottom: 1px solid #ffed4c;
    border-left: 1px solid #ffed4c; /* Bottom side of right border lights up */
    box-shadow: 0px 0px 25px #ffed4c;
  }
  100% {
    border-top: 1px solid transparent; 
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    box-shadow: 0px 0px 10px #ffed4c;
  }
}


/*======NFTDUEL*/
.parentcontainer {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
  place-content: center; /* Align items to the start of the flex container's cross axis */
  flex-direction: column;
  width: 100%;             /* Full width */

}


.wrapperinput {
  background: linear-gradient(to bottom, #181818, #000000);
  flex: 1; /* Allow each card to grow equally */
  min-width: 25vh;
  max-width: 50vh; /* Example fixed width, adjust as needed */
  min-height: 355px;
  max-height: 100vh;
  width: 100%; /* Width of the element */

  border-radius: 25px; /* Rounded corners */
  padding: 5px; /* Space inside the wrapper */
  display: flex;
  flex-direction: column; /* Arrange children in a column */
  margin: 40px; /* Space above the wrapper */

  overflow: scroll; /* Hide overflow content */
  transition: transform 0.15s ease-out, box-shadow 0.3s ease; /* Smooth transition for scaling and box-shadow */
  perspective: 1000px; /* Perspective for 3D effect */
}

/*comment*/
.wrapperinput:hover {
  animation: pulsate 2s infinite; /* Pulsating animation on hover */
}


.lineAfter {
  border-bottom: 2px solid #ffcf4c; /* Line color and thickness */
  width: 100%; /* Width of the line */
  margin: 0 auto; /* Center the line horizontally */
  /* Optional: Adjust the line height or add spacing */
  height: 2px; /* Ensure this matches the border thickness */
}
.title {
  font-family: 'Monofonto', cursive; /* Apply the custom font here */
  font-size: 2rem;
  color: #ffcf4c;


  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: url('/curslink.png'), auto;
  padding: 10px; /* space for title below*/
  
}
.titleBigiron {
  font-family: 'Monofonto', cursive; /* Apply the custom font here */
  font-size: 2rem;
  color: #ffcf4c;
  margin-left: 20px;
  cursor: pointer;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: url('/curslink.png'), auto;
  padding: 10px; /* space for title below*/
  
  
}
.titlebigironbg {
  background: url('../public/test.png') no-repeat center center;
  background-size: cover; /* Scale the background image to cover the entire element */
  color: #ffcf4c;
  cursor: url('../public/curslink.png'), auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px; /* Space for title below */

  box-sizing: border-box; /* Ensure padding is included in width */
  width: 100vw; /* 50% of the viewport width */

  max-width: 555px; /* Maximum width */
  margin: 0; /* Remove margin to use full width */
  place-self: center;
}
.titlebigironnftbg {
  background: url('../public/bigironNFTbanner.png') no-repeat center center;
  background-size: cover; /* Scale the background image to cover the entire element */
  color: #ffcf4c;
  cursor: url('../public/curslink.png'), auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px; /* Space for title below */

  box-sizing: border-box; /* Ensure padding is included in width */
  width: 100vw; /* 50% of the viewport width */

  max-width: 555px; /* Maximum width */
  margin: 0; /* Remove margin to use full width */
  place-self: center;
}
.titlebglucky69bg {
  background: url('../public/Lucky69banner.png') no-repeat center center;
  background-size: cover; /* Scale the background image to cover the entire element */
  color: #ffcf4c;
  cursor: url('../public/curslink.png'), auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px; /* Space for title below */

  box-sizing: border-box; /* Ensure padding is included in width */
  width: 100vw; /* 50% of the viewport width */

  max-width: 555px; /* Maximum width */
  margin: 0; /* Remove margin to use full width */
  place-self: center;
}
.bierramadrebg {
  background: url('../public/bierramadre.png') no-repeat center center;
  background-size: cover; /* Scale the background image to cover the entire element */
  color: #ffcf4c;
  cursor: url('../public/curslink.png'), auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px; /* Space for title below */

  box-sizing: border-box; /* Ensure padding is included in width */
  width: 100vw; /* 50% of the viewport width */

  max-width: 555px; /* Maximum width */
  margin: 0; /* Remove margin to use full width */
  place-self: center;
  
}

.pot {
  font-family: 'Monofonto' ;
  font-size: 1.5rem;
  font-weight: 250;
  color: #C8AC53;
  text-align: center;
  padding: 10px;
  align-items: center;
  justify-content: center;
  place-self: center;
  display: flex;

}
.potsmall {
  font-family: 'Monofonto' ;
  font-size: 0.75rem;
  font-weight: 250;
  color: #C8AC53;
  text-align: center;
  padding: 10px;
  
}


.goldAccent {
  font-family: 'Monofonto', cursive;
  background: linear-gradient(to bottom,#e6ca70, #C8AC53, #e6ca70);  /* Background color */
  color: white; /* Text color for better contrast */
  padding: 5px 10px; /* Add some padding around the text */
  border-radius: 3px; /* Optional: rounded corners */
  box-shadow: 0 0 20px rgba(255, 207, 76, 0.7); /* Initial glow */
  animation: breatheGlow 2s ease-in-out infinite; /* Apply the breathing animation */
  
}

@keyframes breatheGlow {
  0% {
    box-shadow: 0 0 20px rgba(255, 207, 76, 0.7);
  }
  50% {
    box-shadow: 0 0 30px rgba(255, 207, 76, 0.5); /* Increase glow intensity */
  }
  
  100% {
    box-shadow: 0 0 20px rgba(255, 207, 76, 0.7); /* Return to initial glow */
  }
}

.btn {
  font-family: 'Monofonto';
  width: fit-content; 
  display: flex;
  justify-content: center;
  place-self: center;
  color: #C8AC53;
  padding: 15px 32px;
  text-align: center;

  border-radius: 2px;
  margin: 15px auto; 
  cursor: url('/curs.png'), auto;
  font-weight: 500;
  font-size: 25px;
  
}
.btn:hover {

  background-color: #C8AC53; /* Change background color on hover */
  color: #1e2128; /* Change text color on hover */
  animation: flicker 0.2s ease-out; /* Apply flicker animation */
  animation-iteration-count: 1; /* Run the animation only once */

}
.btndisabled {
  font-family: 'Monofonto';
  width: fit-content; 
  display: flex;
  justify-content: center;
  place-self: center;
  color: #C8AC53;
  padding: 15px 32px;
  text-align: center;

  border-radius: 2px;
  margin: 15px auto; 
  cursor: url('/curs.png'), auto;
  font-weight: 500;
  font-size: 25px; 
}
.btndisabled:hover {

  background-color: #ff3c00; /* Change background color on hover */
  color: #1e2128; /* Change text color on hover */
  animation: flickerd 0.2s ease-out; /* Apply flicker animation */
  animation-iteration-count: 1; /* Run the animation only once */

}
.btnbip {
  font-family: 'Monofonto';
  width: 100%;
  display: flex;
  justify-content: center;
  place-self: center;
  color: #C8AC53;
  padding: 15px 32px;
  text-align: center;

  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  cursor: url('/bip.png'), auto;
  font-weight: 500;
  font-size: 25px;
  
}
.btnbip:hover {

  background-color: #C8AC53; /* Change background color on hover */
  color: #1e2128; /* Change text color on hover */
  animation: flicker 0.2s ease-out; /* Apply flicker animation */
  animation-iteration-count: 1; /* Run the animation only once */

}
@keyframes flicker {


  50% {
    box-shadow: 0 0 55px rgb(255, 207, 76);
  }

  100% {
    box-shadow: 0 0 15px rgba(255, 207, 76, 0.5);
  }
}
@keyframes flickerd {


  50% {
    box-shadow: 0 0 55px rgb(255, 88, 76);
  }

  100% {
    box-shadow: 0 0 15px rgba(255, 88, 76, 0.7);
  }
}
.btnbigiron {
  font-family: 'Monofonto';
  width: fit-content; 
  display: flex;
  justify-content: center;
  place-self: center;
  color: #C8AC53;
  padding: 15px 32px;
  text-align: center;

  border-radius: 2px;
  margin: 15px auto; 
  cursor: url('/curs.png'), auto;
  font-weight: 500;
  font-size: 25px;
}
.btnbigiron:hover {

  background-color: #C8AC53; /* Change background color on hover */
  color: #1e2128; /* Change text color on hover */
  animation: flicker 0.2s ease-out; /* Apply flicker animation */
  animation-iteration-count: 1; /* Run the animation only once */

}

.rafflefeetitle {
  font-family: 'Monofonto';
  font-size: 1.5rem;
  font-weight: 250;
  color: #C8AC53;
  text-align: center;

}


.rafflefee {
  font-family: 'Monofonto';
  text-align: center;
  color: #C8AC53;

  padding: 2px 2px;
  margin: 5px;


  text-align: center;
  place-self: center;
}
.rafflefeebg {
  font-family: 'Monofonto';
  text-align: center;
  color: #C8AC53;
  background: linear-gradient(to bottom, #00000000, #00000000, #c8ad5336); /* Gradient from dark to lighter color */
  border-radius: 0.5rem; /* Optional: rounded corners */
  padding: 2px 2px;
  margin: 5px;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid #C8AC53;
  max-width: 50%;
  text-align: center;
  place-self: center;
}




.textNotLoaded {
  font-family: 'Monofonto';
  color: #C8AC53;
  background: linear-gradient(to bottom, #00000000, #00000000, #c8ad5336); /* Gradient from dark to lighter color */
  border-radius: 0.5rem; /* Optional: rounded corners */
  padding: 10px 20px;
  margin: 5px;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid #C8AC53;
  
  /* Centering the text */
  display: column;           /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
  text-align: center;      /* Center text within the flex container */
}
.textNotLoadedsmol {
  font-family: 'Monofonto';
  color: #C8AC53;
  background: linear-gradient(to bottom, #00000000, #00000000, #c8ad5336); /* Gradient from dark to lighter color */
  border-radius: 0.5rem; /* Optional: rounded corners */
  padding: 10px 20px;
  margin: 5px;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid #C8AC53;
  font-size: 1rem;
  /* Centering the text */
  display: column;           /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
  text-align: center;      /* Center text within the flex container */
}
.textLoaded {
  font-family: 'Monofonto';
  color: #ffffff;
  background: linear-gradient(to bottom,#e6ca70, #C8AC53, #e6ca70);  /* Background color */
  border-radius: 0.5rem; /* Optional: rounded corners */
  padding: 10px 20px;
  margin: 5px;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid #C8AC53;
  
  /* Centering the text */
  display: flex;           /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
  text-align: center;      /* Center text within the flex container */
  box-shadow: 0 0 20px rgba(255, 207, 76, 0.7); /* Initial glow */
  animation: breatheGlow 2s ease-in-out infinite;
}

.drawWinnerBtn {
  font-family: 'Monofonto', ;
  background-color: #242833;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 20%;
  border: 1px solid #C8AC53;
  border-radius: 1.2rem;
  padding: 10px 20px;
  font-size: 1.3rem;
  font-weight: bolder;
  cursor: pointer;
  color: #C8AC53;
}
.titlebglucky69bg {
  position: relative;
  /* Add any other styles you need */
}

/* Add this to PotCard.module.css */
/* Tooltip container */
.tooltip {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tooltip .tooltiptext {
  font-family: 'Monofonto';
  visibility: hidden;
  width: 220px;
  background-color: #2c2c2c;
  color: #C8AC53;
  text-align: center;
  border-radius: 3px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position the tooltip above the input */
  left: 50%;
  margin-left: -110px; /* Center the tooltip */
  opacity: 0;
  transform: scaleY(0); /* Start with zero scale on Y axis */
  transform-origin: center; /* Ensures scaling happens from the center */
  transition: opacity 0.3s, box-shadow 0.3s;
  box-shadow: 0 0 55px 25px rgba(0, 0, 0, 0.644);
}

@keyframes expandTooltip {
  0% {

    transform: scaleY(0);
    opacity: 0;

  }
  50% {
    transform: scaleY(1);
    background-color: #C8AC53;
    opacity: 1;
    box-shadow: 0 0 45px #C8AC53;

  }

  100% {
    transform: scaleY(1);
    opacity: 1;

 
    
  }
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  animation: expandTooltip 0.2s ease-in both;
}


.tooltip:not(:hover) .tooltiptext {
  visibility: visible;
  animation: expandCollapse 0.15s ease-out reverse forwards;
}
@keyframes expandCollapse {
  0% {
    background-color: #C8AC53;

    transform: scaleY(0);
    opacity: 0.25;

  }
  50% {
    transform: scaleY(1);
    background-color: #C8AC53;
    opacity: 1;
    box-shadow: 0 0 55px #C8AC53;

  }

  100% {
    transform: scaleY(1);
    opacity: 1;

 
    background-color: #C8AC53;
  }
}


.titlebglucky69bg:hover .tooltip {
  opacity: 1;
  visibility: visible;
}
/* Tooltip text *//* Tooltip text *//* Tooltip text *//* Tooltip text *//* Tooltip text */
.dropdown {
  font-family: 'Monofonto';
  width: 100%; /* Adjust width as needed */
  padding: 8px;
  border: 1px solid #C8AC53;
  border-radius: 2px;
  font-size: 16px;
  background: linear-gradient(to bottom, #2c2c2c, #000000);
  color: #C8AC53;
  margin-bottom: 15px;
  cursor: url('/curs.png'), auto;
}
.dropdown option {
  background: #2c2c2c; /* Limited styling support */
  color: #C8AC53;
  border: 1px solid #C8AC53;
  cursor: url('/curs.png'), auto;
  
}
.dropdown:hover {
  cursor: url('/curs.png'), auto;
  background: #C8AC53;
  color: black;
  animation: flicker 0.2s ease-out; /* Apply flicker animation */
  animation-iteration-count: 1; /* Run the animation only once */
}

/* Style for the number input field */
.numberInput {
  cursor: url('/curs.png'), auto;
  background-color: transparent;
  width: 200px; /* Adjust the width as needed */
  padding: 8px; /* Add some padding inside the input */
  border: 1px solid #C8AC53; /* Set a border color and style */
  border-radius: 2px; /* Rounded corners for the input box */
  font-size: 16px; /* Adjust font size */
  box-sizing: border-box;
  font-family: Monofonto;
  color: #C8AC53;
  outline: none; /* Remove default outline */
  text-align: center;
  /* Remove place-self */
}
/* Optional: Hide spinners for number input */
.numberInput::-webkit-inner-spin-button,
.numberInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.numberInput {
  max-width: 300px; /* Set a maximum width for the input */
  -moz-appearance: textfield;
  margin: 10px 0; /* Add some margin for spacing */
}

/* Style for the number input field when focused */
.numberInput:focus {
  
  border-color: #C8AC53; /* Change border color to yellow on focus */

  box-shadow: inset 0 0 15px  #C8AC53;
}


.nftImage {
  width: 200px; /* Adjust size as needed */
  height: 200px;
  border-radius: 2px; /* Rounded corners for the image */
  transition: transform 0.1s ease-out, box-shadow 0.2s ease-out; /* Smooth transition for the 3D effect */
  transform-style: preserve-3d; /* Ensure 3D transforms are preserved */
  transform: perspective(1000px); /* Perspective for the 3D effect */
 
  cursor: url('/curs.png'), auto;

}

/* Apply box-shadow on hover */
.nftImage:hover {
  
  box-shadow: 0 0 25px #C8AC53;
  border-radius: 5px; /* Rounded corners for the image */
}

.hiddenImage {
  display: none;
}

.visibleImage {
  display: block;
}
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  margin: 5px;

  transition: opacity 0.3s ease, transform 0.3s ease; /* Add transition */
  
  height: 100%; /* Ensure it takes the full height of the parent */
}


.loadingCircle {
  border: 6px solid #f3f3f300; /* Light grey */

  border-left: 6px solid #C8AC53; /* Left border */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  /* Center the spinner itself */
  margin: auto; /* Optional: add margin for better centering */
}

@keyframes spin {
  0% { box-shadow: 0 0 55px rgba(255, 207, 76, 0.753); transform: rotate(0deg);}
  100% { transform: rotate(360deg); }
}