.statbox {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the container */
  padding: 20px;
  border-radius: 2px; /* Rounded corners */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  font-family: 'Monofonto';
  border: 1px solid #C8AC53;
  text-align: center; /* Center the header text */
  font-size: 1.5vw;
  cursor: url('/curs.png'), auto;
}
.rowContainer {
  display: flex;           /* Use flexbox */
  /* Align children to the left */
  width: 100%;            /* Full width */
  margin-left: 1vw;              /* Remove any default margin */
}

.header {
  text-align: center; /* Center the header text */
  font-size: 24px;
  margin-bottom: 20px;
  color: #C8AC53; /* Set header color */
  font-size: 1.5vw;
}

.word, .messages  {
  text-align: left; /* Align text to the left */
  width: 100%; /* Full width for the inner contents */
  margin-bottom: 10px;
  color: #C8AC53; /* Set text color */
  
}

.leaderboard {
  display: flex; /* Flexbox for leaderboard layout */
  justify-content: space-between; /* Space between columns */
  width: 100%; /* Full width */
}

.column {
  flex: 1; /* Equal width for both columns */
  padding: 0 10px; /* Padding for columns */
  
}

.scrollableContainer {
  max-height: 25vw; /* Adjust as needed */
  min-height: 25vw;
  overflow-y: auto; /* Vertical scroll */
  margin-top: 5px; /* Space below the title */
  border: 1px solid #C8AC53;
  border-radius: 2px; /* Optional: adds rounded corners */
  padding: 10px; /* Optional: adds some padding inside */
}

          /* Custom scrollbar styles */
          .scrollableContainer::-webkit-scrollbar {
            width: 12px; /* Width of the scrollbar */
          }

          .scrollableContainer::-webkit-scrollbar-track {
            background: #f1f1f1; /* Track color */
            border-radius: 10px; /* Rounded track */
          }

          .scrollableContainer::-webkit-scrollbar-thumb {
            background: #C8AC53; /* Scrollbar color */
            border-radius: 10px; /* Rounded scrollbar */
          }

          .scrollableContainer::-webkit-scrollbar-thumb:hover {
            background: #b5943e; /* Darker shade on hover */
          }

          /* For Firefox */
          .scrollableContainer {
            scrollbar-width: thin; /* Make scrollbar thin */
            scrollbar-color: #C8AC53 #00000000; /* Scrollbar and track color */
          }

.leaderboard {
  display: flex; /* Flexbox for leaderboard layout */
  justify-content: space-between; /* Space between columns */
  width: 100%; /* Full width */
 

}

.column {
  
  flex: 1; /* Equal width for both columns */
  padding: 0 10px; /* Padding for columns */
}

.titlecontent {
  font-weight: bold; /* Make title content bold */
  text-align: center; /* Center the title */
  margin-bottom: 5px; /* Space below titles */
  color: #C8AC53; /* Set title color */
}

.address, .score {
  color: #C8AC53; /* Set address and score color */
  margin: 10px 10px; /* Spacing between addresses and scores */
   
}
.score {
  color: #c8ad538a; /* Set address and score color */
  margin: 10px 10px; /* Spacing between addresses and scores */
   
}
.yourscore {
  color: #C8AC53; /* Set address and score color */
  margin: 10px 10px; /* Spacing between addresses and scores */
   
}

.btn {
  font-family: 'Monofonto';
  width: fit-content; 
  display: flex;
  justify-content: center;
  place-self: center;
  color: #C8AC53;
  padding: 1vw 1vw;
  text-align: center;

  border-radius: 2px;
  margin: 15px auto; 
  cursor: url('../public/curs.png'), auto;
  font-weight: 500;
  font-size: 1vw;
  
}
.btn:hover {

  background-color: #C8AC53; /* Change background color on hover */
  color: #1e2128; /* Change text color on hover */
  animation: flicker 0.2s ease-out; /* Apply flicker animation */
  animation-iteration-count: 1; /* Run the animation only once */

}



.topAddressContainer {
  display: flex;
  justify-content: space-between; /* Space between top address and score */
  width: 100%;
  margin-bottom: 10px; /* Spacing below */
  justify-content: center;
  border: 1px solid #C8AC53;
}

.topAddress {
  cursor: pointer; /* Change cursor to pointer for top address */
  color: #C8AC53; /* Set top address color */
}

.title {
  text-align: center; /* Center the title */
  margin-top: 20px; /* Space above the title */
  font-size: 20px;
  font-size: 1.5vw;
  color: #C8AC53; /* Set title color */
}




/* New styles for flex container */


/* Ensure group containers have equal flex growth */
.groupContainer {
  flex: 1; /* Equal width for both groups */
  margin: 10px; /* Space between groups */
  border: 1px solid #C8AC53;
}
.flexContainer {
  overflow: auto;
  display: flex;           /* Use flexbox */
  justify-content: flex-start; /* Align children to the left */
  width: 100%;            /* Ensure it takes full width of the viewport */
  margin: 0;              /* Remove any default margin */
}

/* ProfileContainer */
.ProfileContainer {
  min-height: 55vh;
  flex: 1;                /* Take up remaining space */
  margin: 0;              /* Remove margin */
  border: 1px solid #C8AC53;
  text-align: left;       /* Ensure text aligns to the left */
  padding: 25px;          /* Optional padding for content */
}
.rowContainer {
  overflow: auto;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.ProfileContainer {
  padding: 1vh;
}

.nftGrid {
  display: flex;

  flex-wrap: wrap; /* Allows items to wrap to the next line */
  gap: 1vh; /* Space between the items */
  margin-bottom: 1vh; /* Space below each grid */
}

.nftItem {
  font-size: 2vh;
  
  color: #353b47;
  border-radius: 1vh; /* Rounded corners */
  padding: 2vh 2vh; /* Padding inside the container */
  transition: background-color 0.3s ease, color 0.4s ease, transform 0.15s ease, box-shadow 0.2s ease; /* Smooth transition for both background and color */

}

.nftItem:hover {
  
  color: #C8AC53; /* Change text color on hover */
  background-color: rgba(0, 0, 0, 0.459); 
  transform: scale(1.25);
  padding: 2vh 2vh;
  box-shadow: 0 4px 250px 55px rgb(0, 0, 0);
}

.nftItemSecond {
  font-size: 2vh;
  
  color: #353b47;
  border-radius: 1vh; /* Rounded corners */
  padding: 2vh 2vh; /* Padding inside the container */
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for both background and color */

}

.nftItemSecond:hover {
  color: rgb(162, 0, 255); /* Change text color on hover */
  background: rgba(0, 0, 0, 0.459); 
  transform: scale(1.15);
  padding: 2vh 2vh;
 
  box-shadow: 0 4px 250px 55px rgb(0, 0, 0);/* Change background to black on hover */
}
.nftItemThird {
  font-size: 2vh;
  
  color: #353b47;
  border-radius: 1vh; /* Rounded corners */
  padding: 2vh 2vh; /* Padding inside the container */
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for both background and color */

}

.nftItemThird:hover {
  color: #2f90ff; /* Change text color on hover */
  background: rgba(0, 0, 0, 0.459); 
  transform: scale(1.15);
  padding: 2vh 2vh;
 
  box-shadow: 0 4px 250px 55px rgb(0, 0, 0);/* Change background to black on hover */
}

.nftId {
  
  margin: 0; /* Remove default margin */
  text-align: center; /* Center the text */
}
.nftImage {
  width: 5vh; /* Set the desired width */
  height: 5vh; /* Maintain aspect ratio */
  border-radius: 1vh; /* Optional: Add rounded corners */
  margin-bottom: 0.2vh; /* Optional: Space between image and ID */
}
.traitsContainer {

    transition: opacity 0.3s ease, transform 1s ease;
  background: rgba(255, 255, 255, 0);
 font-size: 1vh;
  padding: 2vh;
  border-radius: 1vh;
  position: relative; /* Ensure it overlays properly */

}
