.wrapper {
  width: 100%;
  height: 50px;
  background-color: #2e2e2e;
  border-top: 1px solid #C8AC53;
  border-bottom: 1px solid #C8AC53;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

.wrapper:last-child {
  border-bottom: none;
}

.address {
  color: #C8AC53;
  font-size: 18px;
  font-weight: 250;
  line-height: 1.2;
  letter-spacing: 0.5px;
}

.ethAmmount {
  color: #C8AC53;
  font-size: 18px;
  font-weight: 250;
  line-height: 1.2;
  letter-spacing: 0.5px;
}

.goldAccent {
  color: #C8AC53;
}
