.wrapper {
  width: 80%;
  max-width: 50%;

  display: flex;
  margin-top: 50px;
  align-items: center;
  border-radius: 1rem;
  margin: 50px auto;
  overflow: hidden;
  flex-direction: column;
  background-color: #1d1d1d;

  box-shadow: 0 0 24px #C8AC53;
}
.heading {
  font-size: 1.5rem; /* Adjust font size as needed */
  font-weight: 300;
  text-align: center; /* Center align the text */
  margin-bottom: 20px; /* Space between heading and table */
  color: #C8AC53; /* Optional: heading color */
}
.heading1 {
  font-size: 2rem; /* Adjust font size as needed */
  font-weight: 300;
  text-align: center; /* Center align the text */
  margin-bottom: 20px; /* Space between heading and table */
  color: #C8AC53; /* Optional: heading color */
}
.tableHeader {
  width: 100%;
  height: 100px;
  background-color: #2e2e2e;
  color: #C8AC53;
  display: flex;
  align-items: flex-end;
  padding: 10px;
  justify-content: space-between;
  padding: 10px 40px;
  border-bottom: 2px solid #C8AC53;
}

.rows {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: white;
}

.amountTitle {
  font-size: 1.3rem;
  font-weight: 250;
  color: #C8AC53;
  
}

.addressTitle {
  font-size: 1.3rem;
  font-weight: 250;
  color: #C8AC53;
}

.noPlayers {
  font-size: 1.3rem;
  font-weight: bolder;
  color: #C8AC53;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
